{{define "content"}}
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>{{if .id}} 更新分类 {{else}} 添加分类 {{end}}</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">分类名称 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
{{/*                            <div class="form-group">*/}}
{{/*                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>*/}}
{{/*                                </label>*/}}
{{/*                                <div class="col-md-6 col-sm-6 col-xs-12">*/}}
{{/*                                    <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">*/}}
{{/*                                </div>*/}}
{{/*                            </div>*/}}
{{/*                            <div class="form-group">*/}}
{{/*                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>*/}}
{{/*                                <div class="col-md-6 col-sm-6 col-xs-12">*/}}
{{/*                                    <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">*/}}
{{/*                                </div>*/}}
{{/*                            </div>*/}}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">是否启用</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label>
                                        <input type="checkbox" class="js-switch" checked />
                                    </label>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="/categories"
                                       class="btn btn-primary">返回列表</a>
                                    <button type="submit" class="btn btn-success">保存</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{end}}