{{define "content"}}
    <style>
        ul,li {
            list-style: none;
        }
        li .close_tree:before {
            content: '+';
            background-color: #337ab7;
        }

        .tree_trunk:before {
            height: 14px;
            width: 14px;
            display: block;
            position: absolute;
            color: white;
            border: 2px solid white;
            border-radius: 14px;
            box-shadow: 0 0 3px #444;
            box-sizing: content-box;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            line-height: 14px;

            content: "-";
            background-color:#d33333;
        }
        .tree_trunk {
            padding-left: 25px;

        }

        li div {
            padding: 8px;
            border-bottom: 1px solid #ddd
        }

        li div span {
            float: right;
            padding-right: 10px;
        }

        .x_content .op{
            padding-right:20px;
        }
        .privilege_resource {
            padding-right: 20px;
        }

        .select2 {
            min-width: 200px !important;
        }

        .select2-container--default .select2-results__option[aria-selected=true] {
            display: none;
        }
    </style>
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>权限管理</h3>
            </div>
            {{if (isGranted .session "/admin/privilege/add")}}
            <div class="title_right">
                <a href="/admin/privilege/add" class="btn btn-primary" type="button">添加权限</a>
            </div>
            {{end}}
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--关联role-->
    <div class="modal fade" id="associateRole" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <!--<h4 class="modal-title">关联角色</h4>-->
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="control-label">请选择关联的角色</label>
                                <select class="js-example-basic-multiple form-control" tabindex="-1" aria-hidden="true" multiple id="roleId" style="min-width: 200px;">
                                    {{range $id,$role := .roles}}
                                    <option value="{{$id}}">{{$role.Name}}</option>
                                    {{end}}
                                </select>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "footer"}}
{{block "modal_delete" .}} {{end}}
<script type="text/javascript">
    $(function () {
        var isGrantedUpdate = {{isGranted .session "/admin/privilege/update"}}
        var isGrantedDelete = {{isGranted .session "/admin/privilege/delete"}}
        var isGrantedViewRole = {{isGranted .session "/admin/privilege/role_ids"}}

        $('.js-example-basic-multiple').select2();
        var privilegesJSON = JSON.parse("{{printf "%s" .privilegesJSON}}");
        function Tree(privileges) {
            var html = "<ul>";
            for (var k in privileges)
            {
                html += "<li>";
                html += "   <div>";
                html += "       <a class='tree_trunk'>"+privileges[k].Data.Name+"</a>";
                html += "       <span class='op' data-id='"+privileges[k].Data.ID+"'>";
                if(isGrantedUpdate){
                    html += "           <a class='btn btn-primary btn-xs edit'>编辑</a>";
                }
                if (isGrantedDelete){
                    html += "           <a class='btn btn-danger btn-xs delete'>删除</a>";
                }
                if (isGrantedViewRole){
                    html += "           <a class='btn btn-success btn-xs associate'>关联角色</a>";
                }
                html += "       </span>";
                html += "       <span class='privilege_resource'>"+privileges[k].Data.URIRule+"</span>";
                html += "   </div>";
                html += privileges[k].Children == null ? "" : Tree(privileges[k].Children);
                html += "</li>";
            }

            html += "</ul>";
            return html
        }

        $(".x_content").html(Tree(privilegesJSON));

        var warpperWidth = $(".x_content").width();
        var privilegeResourceWidth = 200;
        var privilegeNameWidth = 330;
        var opWidth = $(".x_content .op").width();
        var x = warpperWidth - privilegeNameWidth - privilegeResourceWidth - opWidth;

        if (x > 0){
            var px = x/2 + "px"
            console.log(px)
            $(".privilege_resource").css("padding-right",px)
        }

        $("body").on("click",".edit",function () {
            var id = $(this).parent().attr("data-id")
            if (id > 0){
                location.href = "/admin/privilege/update/"+id
            }
        });

        $("body").on("click",".delete",function () {
            $('#deleteID').val($(this).parent().attr("data-id"));
            $("#deleteModal").modal();
        });
        $("body").on("click",".deleteConfirm",function () {
            $.post("/admin/privilege/delete",{"id":$('#deleteID').val()},function(result){
                if (result.code == 0){
                    location.reload();
                    return
                }

                new PNotify({
                    title: "出错了",
                    type: 'error',
                    text: result.msg,
                    nonblock: {
                        nonblock: true
                    },
                    styling: 'bootstrap3',
                    delay:'2500'
                })
            });
        });

        //=================== 角色关联 ===================//
        var currPrivilegeID = 0;

        function loadAssociateRoles(privilegeID)
        {
            $.ajax({
                type: "GET",
                url: "/admin/privilege/role_ids?id="+privilegeID,
                success: function(ret){
                    var value = null;
                    if(ret.code == 0 && ret.data ){
                        value = ret.data
                    }
                    $("#roleId").select2({
                        width:"100%",
                    }).val(value).trigger('change');
                }
            });
        }

        $("body").on("click",".associate",function () {
            currPrivilegeID = $(this).parent().attr("data-id");
            loadAssociateRoles(currPrivilegeID)

            $("#associateRole").modal();
        });


        function associate(roleID)
        {
            {{if isGranted .session "/admin/role/associate_privilege"}}
            $.ajax({
                type: "POST",
                url: "/admin/role/associate_privilege",
                data:{'privilegeID':currPrivilegeID,'id':roleID},
                dataType:'json',
                success: function(ret){
                    if (ret.code == 0){
                        return
                    }

                    new PNotify({
                        title: "出错了",
                        type: 'error',
                        text: ret.msg,
                        nonblock: {
                            nonblock: true
                        },
                        styling: 'bootstrap3',
                        delay:'2500'
                    });
                    loadAssociateRoles(currPrivilegeID)
                }
            });
            {{end}}
        }

        $('#roleId').on("select2:select",function (event) {associate(event.params.data.id)});
        $('#roleId').on("select2:unselect",function (event) {associate(event.params.data.id)});
    })
</script>
{{end}}